@page "/employeesearch"
@using PayrollAndHr.Shared.ViewModel;
@layout PayrollAndHr.Client.Shared.Layouts.EmployeeLayout
@inject HttpClient _httpClient
<style>
    .control-space {
        margin-top: 8px;
    }

    label {
        font-weight: bold;
        font-family: Arial,'Times New Roman', Times, serif;
        font-size: 14px;
    }

    .tab-border {
        border: 1px solid gray;
        margin-right: 5px;
        color: black;
    }

    .hide-txt {
        display: none;
    }

    .actionbtn {
        padding: 2px;
        margin: 2px;
    }

    .inputWithIcon input[type="text"] {
        padding-left: 40px;
    }

    .inputWithIcon {
        position: relative;
    }

        .inputWithIcon i {
            position: absolute;
            left: 0;
            top: 0.4px;
            padding: 9px 8px;
            color: #aaa;
            transition: 0.3s;
        }

        .inputWithIcon input[type="text"]:focus + i {
            color: dodgerBlue;
        }

        .inputWithIcon.inputIconBg i {
            background-color: #aaa;
            color: #fff;
            border-radius: 5px 0 0 5px;
        }

        .inputWithIcon.inputIconBg input[type="text"]:focus + i {
            color: #fff;
            background-color: dodgerBlue;
        }
</style>

<div class="card">
    <div class="card-header"><strong>Employee Information</strong></div>
    <div class="card-body">
        <div class="col-sm-6">
            <div class="col-md-6 pull-left">
                <div class="inputWithIcon inputIconBg">
                    <input type="text" name="search" class = "form-control" placeholder = "Search..." id = "txtsearch"/>                    
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="col-md-6 pull-right">
                <NavLink href="/registeremployee" class="btn btn-primary"><i class=" fa fa-file-o"></i> New </NavLink>
            </div>
        </div>
    </div>
    <div class="card-header"><strong>Employee List</strong></div>
    <div style="border:1px solid black; padding:5px;">
        <table class="table table-hover table-bordered employeeList" id="TableEmployList" style="width:100%;">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>SURNAME</th>
                    <th>FIRST NAME</th>
                    <th>MIDDLE NAME</th>
                    <th>DEPARTMENT</th>
                    <th>STAFF NO</th>
                    <th>MOBILE NO</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="staffListBody">
                @foreach (var m in employeelist)
                {
                    sn++;
                    <tr>
                        <td>@sn.ToString()</td>
                        <td>@m.Surname</td>
                        <td>@m.FirstName</td>
                        <td>@m.MiddleName</td>
                        <td>@m.Department</td>
                        <td>@m.StaffNo</td>
                        <td>@m.MobileNo</td>
                        <td><a href="#" onclick="SelectRecord(@m.RegistrationID)" class="btn btn-primary">OK</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   @* <div class="alert alert-info" id="loading" style="padding:10px; position:absolute;border:2px solid #33bb0b;left:50%;top:50%;">
        Please wait.. <span>
            <img src="~/Images/ajax-loader7.gif" />
        </span>
    </div>*@
</div>


@code {
    int sn = 0;

    private static List<EmployList>? employeelist = new List<EmployList>();

    protected override async Task OnInitializedAsync()
    {
        employeelist = await _httpClient.GetFromJsonAsync<List<EmployList>>("api/Employee/EmployeeListTa");
    }
}
