@page "/staffsetup/"
@using PayrollAndHr.Client.Services;
@using PayrollAndHr.Client.Shared.Components
@using PayrollAndHr.Shared.Models;
@layout PayrollAndHr.Client.Shared.Layouts.PayrollLayout
@inject IPayrollService _payrollService

<style>
    .control-space {
        margin-top: 8px;
    }

    label {
        font-weight: bold;
        font-family: Arial,'Times New Roman', Times, serif;
        font-size: 14px;
    }

    .tab-border {
        border: 1px solid gray;
        showNetTax margin-right: 5px;
        color: black;
    }

    .hide-txt {
        display: none !important;
    }

    .actionbtn {
        padding: 2px;
        margin: 2px;
    }

    .black {
        color: rgba(0, 0, 0, 0.79);
        font-size: 22px;
        font-weight: bold;
    }

</style>
<div class="card">
    <div class="card-header"><strong>Staff Salary Setup</strong></div>
    <div class="card-body">
        @*<div class="row">
        <button class="btn btn-primary ml-5" type="submit" id="NewSalary" style="margin-left: 0px;"><i class="fa fa-file-o"></i> New</button>
        </div>*@

        <br />
        <div class="col-md-10">
            <div class="row">

                <div class="col-md-3 ">
                    <label class="label">Search:</label>
                </div>
                <div class="col-md-7">

                    <select name="staffId" @onchange="OnDropdownChange" class="form-control control-input-border" id="cbostaffId">
                        <option>- - - - - - - - - - Select - - - - - - - - - - </option>
                        @foreach(var m in personalInformation)
                        {
                            <option value="@m.StaffNo">@m.StaffNo- @m.Surname @m.FirstName </option>
                        }
                        
                    </select>                    
                </div>
                <div class="col-md-3 control-space">
                    <label class="label">Staff Name:</label>
                </div>
                <div class="col-md-7 control-space">
                    <input type="text" name="staffName" @bind="salaryEntity.StaffName" class="form-control control-input-border" id="cboStaffName" disabled />
                    <input type="text" name="staffName" class = "form-control control-input-border hide-txt" placeholder = "Type Name here"id  = "txtstaffNameAdd" />
                    
                </div>
            </div>
        </div>

        <div>

       
       
            <br />
            @*<div class="alert alert-danger" id="lblErrorMsg">
        </div>

        <div class="alert alert-success" id="lblSuccessMsg">
        </div>*@
            <div class="row">
                <div class="col-md-12">
                    <div style="border:1px solid black;">
                         <Tabs>
                            <TabLinks>
                                <Tab OnTabSelected="(() => SelectTab(0))">Salary Setup</Tab>
                                <Tab OnTabSelected="(() => SelectTab(1))">Staff Loan Setup</Tab>
                                <Tab OnTabSelected="(() => SelectTab(2))">Penalty Deduction</Tab>
                                <Tab OnTabSelected="(() => SelectTab(3))">Other Allowance</Tab>
                                <Tab OnTabSelected="(() => SelectTab(4))">A.V.C</Tab>
                                <Tab OnTabSelected="(() => SelectTab(5))">PAYE</Tab>
                            </TabLinks>

                            <TabContents>
                                @if (selectedTabIndex == 0)
                                {
                                     <div class="row">
                                    <div class="col-md-10">
                                        <div class="text-danger">
                                                @salaryMessage
                                        </div>
                                            <div class="row">

                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Pay Period:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                        <select name="period" @bind="salaryEntity.Period"class="form-control control-input-border"  id="cboPeriod">
                                                            <option>----Select----</option>
                                                        <option value="Monthly">Monthly </option>
                                                        <option value="Annually">Annually </option>
                                                    </select>                                                  
                                           
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Basic Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    <select name="allowanceDes1" value="@salaryEntity.BasicDescription" @onchange="OnChangeBasicDesc" class="form-control control-input-border" id="cboallowanceDes1">
                                                            <option>----Select----</option>
                                                        @foreach(var m in allowances)
                                                        {
                                                            <option value="@m.Description">@m.Description</option>
                                                        }
                                                        
                                                    </select>
                                                    
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text" @bind=salaryEntity.BasicType name="allowanceType1" class = "form-control control-input-border" id = "cboallowanceType1" placeholder = "Allowance Type" disabled/>
                                                    
                                                </div>
                                                <div class="col-md-1 control-space">
                                                        <input type="text" @bind="salaryEntity.BasicPer "name="allPercent1" class = "form-control control-input-border" id = "txtallPercent1" placeholder = "%" disabled/>                                                   
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text" @bind="salaryEntity.BasicAmt" name="allAmount1" class="form-control control-input-border" id="txtallAmount1" disabled/>
                                                   
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Housing Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    <select name="allowanceDes2" value="@salaryEntity.HousingDescription" @onchange="OnChangeHousingDesc" class="form-control control-input-border" id="cboallowanceDes2">
                                                            <option>----Select----</option>
                                                        @foreach (var m in allowances1)
                                                        {
                                                            <option value="@m.Description">@m.Description</option>
                                                        }
                                                    </select>
                                                    
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text" @bind="salaryEntity.HousingType" name="allowanceType2" class = "form-control control-input-border" id = "cboallowanceType2" disabled placeholder = "Allowance Type"/>
                                                    
                                                </div>
                                                <div class="col-md-1 control-space">
                                                        <input type="text" @bind="salaryEntity.HousingPer" name="allPercent2" class = "form-control control-input-border" id = "txtallPercent2" disabled placeholder = "%"/>
                                                    
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text" name="allAmount2" @bind="salaryEntity.HousingAmt"class = "form-control control-input-border" id = "txtallAmount2" disabled/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Transport Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    <select name="allowanceDes3" value="@salaryEntity.TransportDescription" @onchange="OnChangeTransportDesc" class="form-control control-input-border" id="cboallowanceDes3">
                                                            <option>----Select----</option>
                                                        @foreach (var m in allowances2)
                                                        {
                                                            <option value="@m.Description">@m.Description</option>
                                                        }
                                                        </select>
                                                    
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text"@bind="salaryEntity.TransportType" name="allowanceType3" class = "form-control control-input-border" id = "cboallowanceType3" disabled placeholder = "Allowance Type"/>

                                                </div>
                                                <div class="col-md-1 control-space">
                                                        <input type="text"@bind="salaryEntity.TransportPer" name="allPercent3" class = "form-control control-input-border" id = "txtallPercent3" disabled placeholder = "%"/>
                                                    
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text" @bind="salaryEntity.TransportAmt"name="allAmount3" class = "form-control control-input-border" id = "txtallAmount3" disabled/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Utility Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <select name="allowanceDes4" value="@salaryEntity.UtilityDescription"@onchange="OnChangeUtilityDesc" class = "form-control control-input-border" id = "cboallowanceDes4">
                                                            <option>----Select----</option>
                                                        @foreach (var m in allowances3)
                                                        {
                                                            <option value="@m.Description">@m.Description</option>
                                                        }
                                                    </select>
                                                    
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text"@bind="salaryEntity.UtilityType" name="allowanceType4" class = "form-control control-input-border" id = "cboallowanceType4" disabled placeholder = "Allowance Type"/> 
                                                    
                                                </div>
                                                <div class="col-md-1 control-space">
                                                        <input type="text" @bind="salaryEntity.UtilityPer"name="allPercent4" class = "form-control control-input-border" id = "txtallPercent4" disabled placeholder = "%"/>

                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text" @bind="salaryEntity.UtilityAmt" name="allAmount4" class = "form-control control-input-border" id = "txtallAmount4" disabled/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Lunch Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    <select name="allowanceDes5" value="@salaryEntity.LunchDescription"@onchange="OnChangeLunchDesc" class="form-control control-input-border" id="cboallowanceDes5">
                                                            <option>----Select----</option>
                                                        @foreach (var m in allowances4)
                                                        {
                                                            <option value="@m.Description">@m.Description</option>
                                                        }
                                                    </select>
                                                    
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text" name="allowanceType5" @bind="salaryEntity.LunchType"class = "form-control control-input-border" id = "cboallowanceType5" disabled placeholder = "Allowance Type"/>
                                                    
                                                </div>
                                                <div class="col-md-1 control-space">
                                                        <input type="text" name="allPercent"@bind="salaryEntity.LunchPer" class = "form-control control-input-border" id = "txtallPercent5" disabled placeholder = "%"/>
                                                    
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text" name="allAmount5" @bind="salaryEntity.LunchAmt"class = "form-control control-input-border" id = "txtallAmount5" disabled/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Other Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    <select name="allowanceDes6" value="@salaryEntity.OtherDescription" @onchange="OnChangeOtherDesc" class="form-control control-input-border" id="cboallowanceDes6">
                                                            <option>----Select----</option>
                                                        @foreach (var m in allowances5)
                                                        {
                                                            <option value="@m.Description">@m.Description</option>
                                                        }
                                                        </select>
                                                    
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text" name="allowanceType6" @bind="salaryEntity.OtherType" class = "form-control control-input-border" id = "cboallowanceType6" disabled placeholder = "Allowance Type"/>
                                                    
                                                </div>
                                                <div class="col-md-1 control-space">
                                                        <input type="text" name="allPercent6" @bind="salaryEntity.OtherPer" class = "form-control control-input-border" id = "txtallPercent6" disabled placeholder = "%"/>
                                                    
                                                </div>
                                                <div class="col-md-2 control-space">
                                                        <input type="text" name="allAmount6" @bind="salaryEntity.OtherAmt"class = "form-control control-input-border" id = "txtallAmount6" disabled/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Gross Salary:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    <input type="number" name="amount" value="@salaryEntity.Amount" @onchange="OnChangeAmount" class="form-control control-input-border" id="txtamount" />
                                                    
                                                </div>
                                                <div class="col-md-3"></div>
                                                @*<div class="col-md-3 control-space">
                                        <button class="btn btn-dark" type="button" style="margin-bottom:10px;" id="calAllowance"><i class="fa fa-calculator"></i> Calculate Allowance </button>
                                        </div>*@
                                                <div class="col-md-3"></div>
                                                <div class="col-md-3 control-space">
                                                    <button class="btn btn-outline-info" @onclick=@(() => SaveSalary()) style="margin-bottom:10px;" type="button" id="SaveSalary"><i class="fa fa-save"></i> Save </button>
                                                </div>
                                            </div>
                                    
                                    </div>
                                    </div>
                                }
                                else if(selectedTabIndex == 1)
                                {
                                  
                                    <div class="row">                                        
                                        <div class="col-md-5">                                                                  
                                            <EditForm Model="staffLoanEntity" OnSubmit="SaveStaffloan">
                                             <div class="row">
                                                 
                                                <div class="text-danger">
                                                @staffLoanMessage 
                                                </div> 
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Gross Salary:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                        <input type="text" @bind="staffLoanEntity.NetSalary" name="staffSalary" class="form-control control-input-border" id="cbostaffSalary" disabled />
                                                    
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Loan Type:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    <select name="staffLoan" @bind="staffLoanEntity.LoanType" class = "form-control control-input-border" id = "cbostaffLoanType">
                                                            <option>----Select----</option>
                                                            <option value="HOUSE RENT">HOUSE RENT</option>
                                                            <option value="CAR LOAN">CAR LOAN</option>
                                                            <option value="EDUCATION LOAN">EDUCATION LOAN</option>
                                                            <option value="WARDROBE LOAN">WARDROBE LOAN</option>
                                                            <option value="GENERAL">GENERAL</option>
                                                    </select>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Loan Amount:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                        <input type="text" name="staffLoanAmt" @bind="staffLoanEntity.LoanAmount"class = "form-control control-input-border" id = "cbostaffLoanAmt" placeholder = "Enter Loan Amount"/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Interest (%):</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                        <input type="text" name="interest" value="@staffLoanEntity.Interest" @onchange="OnChangeLoanAmount" class="form-control control-input-border" id="txtinterest" />
                                                    
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Total Loan Amount:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                        <input type="text" name="totalLoanAmt" @bind="staffLoanEntity.TotalLoanAmount" class = "form-control control-input-border" id = "txttotalLoanAmt" placeholder = "" disabled/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">No of Installment:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                        <select name="installment" value="@staffLoanEntity.Installment" @onchange="OnChangeInstallment"class="form-control control-input-border" id="txtinstallment">
                                                        <option>----Select----</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>                                                        
                                                    </select>
                                                   
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Repayment Amount:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                        <input type="text" @bind="staffLoanEntity.Repayment"name="repaymentAmt" class = "form-control control-input-border" id = "txtrepaymentAmt" placeholder = "" disabled/>
                                                    
                                                </div>
                                                <div class="col-md-3 ml-2 control-space"></div>
                                                <div class="col-md-7 control-space">
                                                    <button class="btn btn-outline-info" style="margin-bottom:10px;" type="submit" id="SaveStaffLoan"><i class="fa fa-save"></i> Save </button>
                                                </div>
                                                
                                            </div>
                                            </EditForm>
                                         </div>
                                        
                                  
                                   
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header"><strong>Staff Loan</strong></div>
                                            <div class="card-body" id="">
                                                <table class="table table-bordered table-hover table-custom-border" id="">
                                                    <thead>
                                                        <tr>
                                                            <th>S/N</th>
                                                            <th>Description</th>
                                                            <th>Loan Amount</th>
                                                            <th>Interest</th>

                                                            <th>Installment Amount</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="loanBody">
                                                            @foreach(var m in staffloans)
                                                            {
                                                                <tr>
                                                                    <td>@m.ID</td>
                                                                    <td>@m.LoanType</td>
                                                                    <td>@m.LoanAmount</td>
                                                                    <td>@m.Interest</td>
                                                                    <td>@m.Repayment</td>
                                                                <td style="display:flex">
                                                                    <div @onclick=@(()=>EditStaffLoan(m.ID)) title="Edit"><i class="fa fa-pencil"></i></div>
                                                                    &nbsp;&nbsp;&nbsp;
                                                                    <div @onclick="() => DeleteStaffLoan(m.ID)" title="Delete"><i class="fa fa-trash"></i></div>
                                                                </td>
                                                                </tr>
                                                            }
                                                            
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                                    <br /><br />

                                }
                                else if(selectedTabIndex == 2)
                                {
                                    
                                    <div class="row">
                                        <div class="col-md-5">
                                            <EditForm Model="deductionEntity" OnSubmit="SaveDeductions">                                    
                                           <div class="text-danger">
                                                    @deductmessage
                                           </div>
                                         
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Penalty Type:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    <select name="penaltyType" value="@deductionEntity.PenaltyType" @onchange="OnChangePenaltytype" class="form-control control-input-border"  id="cbopenaltyType">
                                                        <option>----Select----</option>
                                                        @foreach (var m in penalties)
                                                        {
                                                            <option value="@m.DeductType.ToUpper()">@m.Description.ToUpper()</option>
                                                        }
                                                        
                                                    </select>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Deduction Type:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    <input type="text" @bind="deductionEntity.DeductionType" name="deductionType" class = "form-control control-input-border" id = "cbodeductionType" disabled/>
                                                   
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Penalty Amount:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    <input type="text" name="staffDedAmt" @bind="deductionEntity.Amount" class = "form-control control-input-border"id = "cbostaffDedAmt" placeholder = "Enter Amount"/>
                                                    
                                                </div>
                                                <div class="col-md-4"></div>
                                                <div class="col-md-8 control-space">
                                                    <button class="btn btn-outline-info" style="margin-bottom:10px;" type="submit" id="SaveDeduction"><i class="fa fa-save"></i> Save </button>
                                                </div>
                                            </EditForm>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-header"><strong>Staff Penalties</strong></div>
                                                <div class="card-body" id="">
                                                    <table class="table table-bordered table-hover table-custom-border" id="">
                                                        <thead>
                                                            <tr>
                                                                <th>S/N</th>
                                                                <th>PENALTY</th>
                                                                <th>DEDUCTION TYPE</th>
                                                                <th>AMOUNT</th>
                                                                <th>ACTION</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="penaltyBody">
                                                            @foreach(var m in deductions)
                                                            {
                                                                <tr>
                                                                    <td>@m.ID</td>
                                                                    <td>@m.PenaltyType</td>
                                                                    <td>@m.DeductionType</td>
                                                                    <td>@m.Amount</td>
                                                                    <td style="display:flex">
                                                                        <div @onclick=@(()=>EditDeductions(m.ID)) title="Edit"><i class="fa fa-pencil"></i></div>
                                                                        &nbsp;&nbsp;&nbsp;
                                                                        <div @onclick="() => DeleteDeductions(m.ID)" title="Delete"><i class="fa fa-trash"></i></div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                                else if (selectedTabIndex == 3)
                                {
                                    
                                    <div class="row">
                                        <div class="col-md-5">
                                            <EditForm Model="staff" OnSubmit="SaveStaffOthers">
                                            <div class="text-danger">
                                                @Staffothersmessage
                                            </div>

                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Allowance Type:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    <select name="AllowanceType" @bind="staff.AllowanceType"class="form-control control-input-border"  id="cboStallowanceType">
                                                        <option>----Select----</option>
                                                        @foreach (var m in otherallowances)
                                                        {
                                                            <option value="@m.Description">@m.Description</option>
                                                        }
                                                    </select>
                                                    <input type="text" name="AllowanceCode" class = "form-control control-input-border hide-txt" id = "txtStaffallowanceCode" />
                                                    
                                                </div>

                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Allowance Amount:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    <input type="text" name="staffAllowAmt" @bind="staff.Amount" class = "form-control control-input-border" id = "cbostaffAllowAmt" placeholder = "Enter Amount" />
                                                    
                                                </div>
                                                <div class="col-md-4"></div>
                                                <div class="col-md-8 control-space">
                                                    <button class="btn btn-outline-info" style="margin-bottom:10px;" type="submit" id="SaveStaffOtherAllowance"><i class="fa fa-save"></i> Save </button>
                                                </div>
                                            </EditForm>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-header"><strong>Staff Allowances</strong></div>
                                                <div class="card-body" id="">
                                                    <table class="table table-bordered table-hover table-custom-border" id="">
                                                        <thead>
                                                            <tr>
                                                                <th>S/N</th>
                                                                <th>ALLOWANCE TYPE</th>
                                                                <th>AMOUNT</th>
                                                                <th>ACTION</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="StaffAllowanceBody">
                                                            @foreach(var m in StaffOtherAllowances)
                                                            {
                                                                <tr>
                                                                  <td>@m.ID</td>
                                                                  <td>@m.AllowanceType</td>
                                                                  <td>@m.Amount</td>
                                                                    <td style="display:flex">
                                                                        <div @onclick=@(()=>EditStaffOthers(m.ID)) title="Edit"><i class="fa fa-pencil"></i></div>
                                                                        &nbsp;&nbsp;&nbsp;
                                                                        <div @onclick="() => DeleteStaffOthers(m.ID)" title="Delete"><i class="fa fa-trash"></i></div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                                else if (selectedTabIndex == 4)
                                {
                                    <div class="row">
                                        <div class="col-md-5">
                                            <EditForm Model="StaffAvc" OnSubmit="SaveAVC">                                           
                                            <div class="text-danger">
                                                    @AvcMessage
                                            </div>

                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">AVC:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    <input name="staffAVCAmount" @bind="StaffAvc.AVC" class = "form-control control-input-border" id = "txtStaffAVC" placeholder = "Enter Amount"/>
                                                    
                                                </div>
                                                <div class="col-md-4"></div>
                                                <div class="col-md-8 control-space">
                                                    <button class="btn btn-outline-info" style="margin-bottom:10px;" type="submit" id="SaveStaffAVC"><i class="fa fa-save"></i> Save </button>
                                                </div>
                                            </EditForm>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-header"><strong>Staff AVC</strong></div>
                                                <div class="card-body" id="">
                                                    <table class="table table-bordered table-hover table-custom-border" id="">
                                                        <thead>
                                                            <tr>
                                                                <th>S/N</th>
                                                                <th>AMOUNT</th>
                                                                <th>ACTION</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="StaffAVCBody">
                                                           @foreach(var m  in staffavcs){
                                                                <tr>
                                                                    <td>@m.ID</td>
                                                                    <td>@m.AVC</td>
                                                                    <td style="display:flex">
                                                                        <div @onclick=@(()=>EditStaffAVC(m.ID)) title="Edit"><i class="fa fa-pencil"></i></div>
                                                                        &nbsp;&nbsp;&nbsp;
                                                                        <div @onclick="() => DeleteStaffAVC(m.ID)" title="Delete"><i class="fa fa-trash"></i></div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                                else if(selectedTabIndex == 5)
                                {
                                    <div class="row">
                                    <div class="col-md-12">
                                            <EditForm Model="pAYEEntity" OnSubmit="SavePAYE" >
                                            
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="text-danger">
                                                            @pAYEMessage
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Pay Period:</label>
                                                    </div>
                                                    <div class="col-md-7 control-space">
                                                        <select name="payPeriod" value="@pAYEEntity.PayPeriod" @onchange="OnChangePeriod" class = "form-control control-input-border" id = "cbopayPeriod">
                                                            <option>----Select----</option>
                                                            <option value="Monthly">Monthly</option>
                                                            <option value="Annually">Annually</option>
                                                        </select>
                                                        
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Gross Income:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        <input type="text" name="income" @bind="pAYEEntity.GrossSalary"class = "form-control control-input-border" id = "txtIncome" disabled/>
                                                       
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Basic Salary:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        <input type="text" name="basic" @bind="pAYEEntity.Basic"class = "form-control control-input-border" id = "txtbasic" disabled/>
                                                        
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Housing Allowance:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                         <input type="text" name="housing" @bind="pAYEEntity.Housing" class = "form-control control-input-border" id = "txthousing" disabled/>
                                                 
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Utility Allowance:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        <input type="text" name="Utility" @bind="pAYEEntity.Utility" class = "form-control control-input-border" id = "txtUtility" disabled/>
                                                        
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Lunch Allowance:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        <input name="Lunch" @bind="pAYEEntity.Lunch"class = "form-control control-input-border" id = "txtLunch" disabled />
                                                        
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Transport Allowance:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        <input name="transport" @bind="pAYEEntity.Transport" class = "form-control control-input-border" id = "txtTransport" disabled/>
                                                        
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Others:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        <input type="text" @bind="pAYEEntity.Others"name="others"class = "form-control control-input-border" id = "txtOthers" disabled/>
                                                        
                                                    </div>
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-9 control-space">
                                                        @*<button class="btn btn-dark" type="button" style="margin-bottom:10px;" id="chkDeduction"><i class="fa fa-check-circle"></i> Check </button>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="card">
                                                        <div class="card-header"> Deductions </div>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-4 control-space">
                                                                    <label class="label">Loan Deduction:</label>
                                                                </div>
                                                                <div class="col-md-8 control-space">
                                                                    <input type="text" name="loanDeduct" class = "form-control control-input-border" id = "txtloanDeduct" disabled/>
                                                                    
                                                                </div>
                                                                <div class="col-md-4 control-space">
                                                                    <label class="label">Penalty Deduction:</label>
                                                                </div>
                                                                <div class="col-md-8 control-space">
                                                                    <input type="text" name="penaDeduct" class = "form-control control-input-border" id = "txtpenaDeduct" disabled"/>
                                                                    
                                                                </div>
                                                                <div class="col-md-4 control-space">
                                                                    <label class="label">AVC:</label>
                                                                </div>
                                                                <div class="col-md-8 control-space">
                                                                        <input type="text" name="avcDeduct" class = "form-control control-input-border" id = "txtavcDeduct" disabled/>
                                                                    
                                                                </div>
                                                                <div class="col-md-9 control-space">
                                                                    <button class="btn btn-dark hide-txt" type="button" style="margin-bottom:10px;" id="ShowDeduction"><i class="fa fa-circle-o"></i> Show All Deductions </button>
                                                                </div>
                                                                <div class="col-md-4 control-space">
                                                                    <label class="label"> Pension: </label>
                                                                </div>
                                                                <div class="col-md-8 control-space">
                                                                    <input type="text" name="pension" class = "form-control control-input-border" id = "showPension" disabled/>
                                                                    
                                                                </div>
                                                                <div class="col-md-4 control-space">
                                                                    <label class="label"> NHFC: </label>
                                                                </div>
                                                                <div class="col-md-8 control-space">
                                                                    <input type="text" class = "form-control control-input-border" id = "showNHF" disabled/>
                                                                </div>
                                                                <div class="col-md-4 control-space">
                                                                    <label class="label"> Consolidated Relief: </label>
                                                                </div>
                                                                <div class="col-md-8 control-space">
                                                                        <input type="text" name="CRelief" class = "form-control control-input-border" id = "showCF" disabled/>
                                                                    
                                                                </div>
                                                                <div class="col-md-4 control-space">
                                                                    <label class="label"> Total Non-Taxable Deduction: </label>
                                                                </div>
                                                                <div class="col-md-8 control-space">
                                                                        <input type="text" name="TNTD" class = "form-control control-input-border" id = "showTotT" disabled/>
                                                                    
                                                                </div>
                                                                <div class="col-md-4 control-space">
                                                                    <label class="label"> Total Deduction: </label>
                                                                </div>
                                                                <div class="col-md-8 control-space">
                                                                    <input type="text" name="TD" class = "form-control control-input-border" id = "showTotDed" disabled/>
                                                                    
                                                                </div>
                                                                <div class="col-md-4 control-space">
                                                                    <label class="label"> Net Taxable Income: </label>
                                                                </div>
                                                                <div class="col-md-8 control-space">
                                                                        <input type="text" name="NetTI" form-control control-input-border" id = "showNetTax" disabled/>
                                                                    
                                                                </div>
                                                                <div class="col-md-4 control-space">
                                                                    <label class="label"> PAYE : </label>
                                                                </div>
                                                                <div class="col-md-8 control-space">
                                                                    <input type="text" name="PAYE form-control control-input-border" id = "showPayE" disabled/>
                                                                    
                                                                </div>
                                                                <div class="col-md-4 control-space">
                                                                    <label class="label"> Net Salary : </label>
                                                                </div>
                                                                <div class="col-md-8 control-space">
                                                                        <input type="text" name="netSala" form-control control-input-border" id = "showNetSalary" disabled/>
                                                                    
                                                                </div>
                                                                <div class="col-md-5"></div>
                                                                <div class="col-md-4 control-space">
                                                                    <button class="btn btn-info" type="submit" style="margin-bottom:10px;" id="savePayE"><i class="fa fa-save"></i> Save PAYE </button>
                                                                </div>
                                                                @*<div class="col-md-4 control-space">
                                                        <button class="btn btn-danger" type="button" style="margin-bottom:10px;" id="calculPAYE"><i class="fa fa-calculator"></i> Calculate PAYE </button>
                                                        </div>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                <br />
                                                <br />

                                                <br />
                                                <div class="col-md-12">
                                                    <div class="card hide-txt" id="payEBody">
                                                        <div class="card-header"> PAYE for Selected Staff </div>
                                                        <div class="card-body">
                                                        </div>
                                                    </div>
                                                </div>
                                            </EditForm>
                                            
                                        
                                        </div>
                                    </div>
                                }
                            </TabContents>
                            </Tabs>
   
                     </div>
                    </div>
                       @* <div class="alert alert-info" id="loading" style="padding:10px; position:absolute;border:2px solid #33bb0b;left:50%;top:50%;">
                            Please wait.. <span>
                                <img src="~/Images/ajax-loader7.gif" />
                            </span>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    


@code {
    private int selectedTabIndex = 0;
    private string loadedvalue = string.Empty;
    private string salaryMessage = string.Empty;
    private string staffLoanMessage = string.Empty;
    private string deductmessage = string.Empty;
    private string Staffothersmessage = string.Empty;
    private string AvcMessage = string.Empty;
    private string pAYEMessage = string.Empty;

    SalaryEntity salaryEntity = new SalaryEntity();
    StaffLoanEntity staffLoanEntity = new StaffLoanEntity();
    DeductionEntity deductionEntity = new DeductionEntity();
    StaffOtherAllowancesEntity staff = new StaffOtherAllowancesEntity();
    StaffAVCEntity StaffAvc = new StaffAVCEntity();
    PAYEEntity pAYEEntity = new PAYEEntity();

    List<StaffOtherAllowancesEntity> StaffOtherAllowances = new List<StaffOtherAllowancesEntity>();
    List<StaffLoanEntity> staffloans = new List<StaffLoanEntity>();
    List<StaffAVCEntity> staffavcs = new List<StaffAVCEntity>();
    List<PersonalInformationEntity> personalInformation = new List<PersonalInformationEntity>();
    List<PenaltyEntity> penalties = new List<PenaltyEntity>();
    List<AllowanceEntity> allowances = new List<AllowanceEntity>();
    List<DeductionEntity> deductions = new List<DeductionEntity>();
    List<OtherAllowancesEntity> otherallowances = new List<OtherAllowancesEntity>();
    List<AllowanceEntity> allowances1 = new List<AllowanceEntity>();
    List<AllowanceEntity> allowances2 = new List<AllowanceEntity>();
    List<AllowanceEntity> allowances3 = new List<AllowanceEntity>();
    List<AllowanceEntity> allowances4 = new List<AllowanceEntity>();
    List<AllowanceEntity> allowances5 = new List<AllowanceEntity>();

    protected override async Task OnInitializedAsync()
    {
        var result = await _payrollService.GetallStaff();
        personalInformation = result;

        var res = await _payrollService.GetPenalties();
        penalties = res.Data;

        var resu = await _payrollService.GetOtherAllowances();
        otherallowances = resu.Data;

    }
    private async Task SaveSalary()
    {
        var result = await _payrollService.SaveSalary(salaryEntity);
        if (result.Success)
        {
            salaryMessage = result.Message;
        }
    }
    private async Task SaveDeductions()
    {

        deductionEntity.StaffName = salaryEntity.StaffName;
        var result = await _payrollService.SaveDeductions(deductionEntity);
        if (result.Success)
        {
            deductmessage = result.Message;
        }
        var resu = await _payrollService.GetDeductions(deductionEntity.StaffNo);
        deductions = resu;
    }
    public async Task SaveStaffOthers()
    {
        foreach(var m in otherallowances)
        {
            staff.AllowanceCode = m.Code;
        }        
        var result = await _payrollService.SaveStaffOthers(staff);
        if (result.Success)
        {
            Staffothersmessage = result.Message;
        }
        var resul = await _payrollService.GetStaffOthers(staff.StaffNo);
        StaffOtherAllowances = resul;
    }

    public async Task SaveAVC()
    {
        var result = await _payrollService.SaveAVC(StaffAvc);
        if(result.Success){
            AvcMessage = result.Message;
        }
        var r = await _payrollService.GetStaffAVC(StaffAvc.StaffID);
        staffavcs = r;
    }
    private async Task OnDropdownChange(ChangeEventArgs e)
    {

        var res = await _payrollService.GetSalary(e.Value.ToString());
        if (res.Data != null)
        {
            salaryMessage = "";
            staffLoanMessage = "";
            deductmessage = "";
            Staffothersmessage = "";
            AvcMessage = "";
            pAYEMessage = "";
            salaryEntity = res.Data;
            pAYEEntity.StaffID = salaryEntity.StaffNo;

            if(res.Data.Period == "Monthly")
            {
                var paye = await _payrollService.LoadAll(pAYEEntity.StaffID);
                foreach (var m in paye)
                {
                    pAYEEntity.PayPeriod = m.Period;
                    pAYEEntity.GrossSalary = m.Amount;
                    pAYEEntity.Basic = m.BasicAmt;
                    pAYEEntity.Housing = m.HousingAmt;
                    pAYEEntity.Lunch = m.LunchAmt;
                    pAYEEntity.Transport = m.TransportAmt;
                    pAYEEntity.Utility = m.UtilityAmt;
                    pAYEEntity.Others = m.OtherAmt;
                }
            }
            else if (res.Data.Period== "Annually")
            {
                var result = await _payrollService.LoadAllAnnual(pAYEEntity.StaffID);
                foreach (var m in result)
                {
                    pAYEEntity.PayPeriod = m.Period;
                    pAYEEntity.GrossSalary = m.Amount;
                    pAYEEntity.Basic = m.BasicAmt;
                    pAYEEntity.Housing = m.HousingAmt;
                    pAYEEntity.Lunch = m.LunchAmt;
                    pAYEEntity.Transport = m.TransportAmt;
                    pAYEEntity.Utility = m.UtilityAmt;
                    pAYEEntity.Others = m.OtherAmt;
                }

            }
        }
        // Load information based on the selected value
        else
        {


            Task.Delay(500);
            var result = await _payrollService.GetallStaff();


            foreach (var m in result)
            {
                if (e.Value.ToString() == m.StaffNo)
                {
                    salaryMessage = "";
                    staffLoanMessage = "";
                    deductmessage = "";
                    Staffothersmessage = "";
                    AvcMessage = "";
                    pAYEMessage = "";
                    salaryEntity.StaffNo = e.Value.ToString();
                    salaryEntity.StaffName = m.Surname + " " + m.FirstName;
                    salaryEntity.Period = "Monthly";
                    salaryEntity.TransportAmt = 0;
                    salaryEntity.BasicAmt =0;
                    salaryEntity.UtilityAmt= 0;
                    salaryEntity.OtherAmt =0;
                    salaryEntity.LunchAmt = 0;
                    salaryEntity.HousingAmt = 0;
                    salaryEntity.Amount = 0;

                }

            }
        }
        var reslt = await _payrollService.GetAllType("Basic");
        allowances = reslt;
        var reslt1 = await _payrollService.GetAllType("Housing");
        allowances1 = reslt1;
        var reslt2 = await _payrollService.GetAllType("Transport");
        allowances2 = reslt2;
        var reslt3 = await _payrollService.GetAllType("Utility");
        allowances3 = reslt3;
        var reslt4 = await _payrollService.GetAllType("Lunch");
        allowances4 = reslt4;
        var reslt5 = await _payrollService.GetAllType("Others");
        allowances5 = reslt5;

        staffLoanEntity.NetSalary = salaryEntity.Amount.ToString();
        staffLoanEntity.StaffNo = salaryEntity.StaffNo;
        deductionEntity.StaffNo = salaryEntity.StaffNo;
        staff.StaffNo = salaryEntity.StaffNo;
        StaffAvc.StaffID = salaryEntity.StaffNo;
        
        
        var re = await _payrollService.GetStaffLoan(staffLoanEntity.StaffNo);
        staffloans = re;
        var resu = await _payrollService.GetDeductions(deductionEntity.StaffNo);
        deductions = resu;
        var resul = await _payrollService.GetStaffOthers(staff.StaffNo);
        StaffOtherAllowances = resul;
        var r = await _payrollService.GetStaffAVC(StaffAvc.StaffID);
        staffavcs = r;
        
    }

    private async Task OnChangeBasicDesc(ChangeEventArgs e)    {
        salaryEntity.BasicDescription = e.Value.ToString();
        var reslt = await _payrollService.GetAllowanceType(salaryEntity.BasicDescription);
        foreach(var m in reslt){            
            salaryEntity.BasicType = m.AllType;
            salaryEntity.BasicPer = m.Percentage;

        }

    }
    private async Task OnChangeHousingDesc(ChangeEventArgs e)
    {
        salaryEntity.HousingDescription = e.Value.ToString();
        var reslt = await _payrollService.GetAllowanceType(salaryEntity.HousingDescription);
        foreach (var m in reslt)
        {
            salaryEntity.HousingType = m.AllType;
            salaryEntity.HousingPer = m.Percentage;

        }
    }
    private async Task OnChangeTransportDesc(ChangeEventArgs e)
    {
        salaryEntity.TransportDescription = e.Value.ToString();
        var reslt = await _payrollService.GetAllowanceType(salaryEntity.TransportDescription);
        foreach (var m in reslt)
        {
            salaryEntity.TransportType = m.AllType;
            salaryEntity.TransportPer = m.Percentage;

        }
    }
    private async Task OnChangeUtilityDesc(ChangeEventArgs e)
    {
        salaryEntity.UtilityDescription = e.Value.ToString();
        var reslt = await _payrollService.GetAllowanceType(salaryEntity.UtilityDescription);
        foreach (var m in reslt)
        {
            salaryEntity.UtilityType = m.AllType;
            salaryEntity.UtilityPer = m.Percentage;

        }
    }
    private async Task OnChangeLunchDesc(ChangeEventArgs e)
    {
        salaryEntity.LunchDescription = e.Value.ToString();
        var reslt = await _payrollService.GetAllowanceType(salaryEntity.LunchDescription);
        foreach (var m in reslt)
        {
            salaryEntity.LunchType = m.AllType;
            salaryEntity.LunchPer = m.Percentage;

        }
    }
    private async Task OnChangeOtherDesc(ChangeEventArgs e)
    {
        salaryEntity.OtherDescription = e.Value.ToString();
        var reslt = await _payrollService.GetAllowanceType(salaryEntity.OtherDescription);
        foreach (var m in reslt)
        {
            salaryEntity.OtherType = m.AllType;
            salaryEntity.OtherPer = m.Percentage;

        }
    }
    private async Task OnChangeAmount(ChangeEventArgs e)
    {
        salaryEntity.Amount = Decimal.Parse(e.Value.ToString());        
        salaryEntity.BasicAmt = salaryEntity.Amount * salaryEntity.BasicPer / 100;
        salaryEntity.HousingAmt = salaryEntity.Amount * salaryEntity.HousingPer / 100;
        salaryEntity.TransportAmt = salaryEntity.Amount * salaryEntity.TransportPer / 100;
        salaryEntity.UtilityAmt = salaryEntity.Amount * salaryEntity.UtilityPer / 100;
        salaryEntity.LunchAmt = salaryEntity.Amount * salaryEntity.LunchPer / 100;
        salaryEntity.OtherAmt = salaryEntity.Amount * salaryEntity.OtherPer / 100;        
    }
    public async Task SaveStaffloan()
    {
        staffLoanEntity.StaffNo = salaryEntity.StaffNo;
        staffLoanEntity.StaffName = salaryEntity.StaffName;        

        var result = await _payrollService.SaveStaffLoan(staffLoanEntity);
        if (result.Success)
        {
            staffLoanMessage = result.Message;
        }
        var res = await _payrollService.GetStaffLoan(staffLoanEntity.StaffNo);
        staffloans = res;
    }
    public async Task EditStaffLoan(int ID)
    {
        var edit = await _payrollService.EditStaffLoan(ID);
        staffLoanEntity = edit;
    }
    public async Task DeleteStaffLoan(int ID)
    {
        await _payrollService.DeleteStaffLoan(ID);
        var res = await _payrollService.GetStaffLoan(staffLoanEntity.StaffNo);
        staffloans = res;
    }
    public async Task EditDeductions(int ID)
    {
        var edit = await _payrollService.EditStaffDeductions(ID);
        deductionEntity = edit;
    }
    public async Task DeleteDeductions(int ID)
    {
        await _payrollService.DeleteStaffdeduct(ID);
        var resu = await _payrollService.GetDeductions(deductionEntity.StaffNo);
        deductions = resu;
    }
    public async Task EditStaffOthers(int ID)
    {
        var edit = await _payrollService.EditStaffOthers(ID);
        staff = edit;
    }
     public async Task DeleteStaffOthers(int ID)
    {
        await _payrollService.DeleteStaffothers(ID);
        var resu = await _payrollService.GetStaffOthers(deductionEntity.StaffNo);
        StaffOtherAllowances = resu;
    }
    public async Task EditStaffAVC(int ID)
    {
        var edit = await _payrollService.EditStaffAVC(ID);
        StaffAvc = edit;
    }
     public async Task DeleteStaffAVC(int ID)
    {
        await _payrollService.DeleteStaffAVC(ID);
        var resu = await _payrollService.GetStaffAVC(StaffAvc.StaffID);
        staffavcs = resu;
    }
    public async Task OnChangeLoanAmount(ChangeEventArgs e)
    {
        staffLoanEntity.Interest = int.Parse(e.Value.ToString());
        staffLoanEntity.TotalLoanAmount = staffLoanEntity.LoanAmount + (staffLoanEntity.LoanAmount * staffLoanEntity.Interest / 100);
    }
    public async Task OnChangeInstallment(ChangeEventArgs e)
    {
        staffLoanEntity.Installment = int.Parse(e.Value.ToString());
        staffLoanEntity.Repayment = staffLoanEntity.TotalLoanAmount / staffLoanEntity.Installment;
    }
    public async Task OnChangePenaltytype(ChangeEventArgs e)
    {
        @foreach(var m in penalties)
        {
            deductionEntity.PenaltyType = m.Description;
        }

        deductionEntity.DeductionType = e.Value.ToString();
    }

    private async Task OnChangePeriod(ChangeEventArgs e)
    {
        if(e.Value.ToString() == "Monthly")
        {
            var result = await _payrollService.LoadAll(pAYEEntity.StaffID);
            foreach(var m in result)
            {
                pAYEEntity.PayPeriod = m.Period;
                pAYEEntity.GrossSalary = m.Amount;
                pAYEEntity.Basic = m.BasicAmt;
                pAYEEntity.Housing = m.HousingAmt;
                pAYEEntity.Lunch = m.LunchAmt;
                pAYEEntity.Transport = m.TransportAmt;
                pAYEEntity.Utility = m.UtilityAmt;
                pAYEEntity.Others = m.OtherAmt;
            }
        }
        else if(e.Value.ToString() == "Annually")
        {
            var result = await _payrollService.LoadAllAnnual(pAYEEntity.StaffID);
            foreach (var m in result)
            {
                pAYEEntity.PayPeriod = m.Period;
                pAYEEntity.GrossSalary = m.Amount;
                pAYEEntity.Basic = m.BasicAmt;
                pAYEEntity.Housing = m.HousingAmt;
                pAYEEntity.Lunch = m.LunchAmt;
                pAYEEntity.Transport = m.TransportAmt;
                pAYEEntity.Utility = m.UtilityAmt;
                pAYEEntity.Others = m.OtherAmt;
            }
        }
    }

    private async Task SavePAYE()
    {
        var result = await _payrollService.SavePAYE(pAYEEntity);
        if (result.Success)
        {
            pAYEMessage = result.Message;
        }
    }
    public void SelectTab(int index)
    {
        selectedTabIndex = index;
    }
}
