@page "/registeremployee"

@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Hosting;
@using PayrollAndHr.Client.Services;
@using PayrollAndHr.Client.Shared.Components
@using Microsoft.AspNetCore.Components.Web.Extensions
@layout PayrollAndHr.Client.Shared.Layouts.EmployeeLayout
@using Microsoft.AspNetCore.Components.Forms
@using PayrollAndHr.Shared.Dtos;
@using PayrollAndHr.Shared.Models;


@inject HttpClient _httpClient;
@inject IJSRuntime JSRuntime

@inject IEmployeeService _employeeService;

<style>
    .ui-widget-header {
        background: #33bb0b;
        border: 1px solid rgba(51, 51, 51, 0.63);
        color: #333333;
        font-weight: bold;
    }

    .progress-label {
        position: absolute;
        left: 50%;
        top: 40px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
    }

    .control-space {
        margin-top: 8px;
    }

    label {
        font-weight: bold;
        font-family: Arial,'Times New Roman', Times, serif;
        font-size: 14px;
    }

    .tab-border {
        border: 1px solid gray;
        margin-right: 5px;
        color: black;
    }

    .hide-txt {
        display: none;
    }

    .actionbtn {
        padding: 2px;
        margin: 2px;
    }
</style>
<div class="card">
    
    <div class="card-header"><strong>Employee Information</strong></div>
    <div class="card-body">
        <button class="btn btn-primary" @onclick=@(()=> GetStaffRegNo()) type="submit" id="NewRecord"><i class="fa fa-file-o"></i> New</button>

        <button class="btn btn-primary" type="submit" id="searchRecord"><i class="fa fa-search"></i> Search</button>

       @* <EditForm Model="@personalInformationEntity" OnSubmit="SaveEmployee" >
        *@
            <br />
            @*<div class="alert alert-danger" id="lblErrorMsg">
            </div>
            <div class="alert alert-success" id="lblSuccessMsg">
            </div>*@
            <div class="row" style="padding-top:30px;">

                <div class="col-md-5">
                    <fieldset class="form-group">
                        <div class="row">

                            <div class="col-md-3">
                                <label class="label">Registration ID:</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="RegID" @bind="@personalInformationEntity.RegistrationID" class = "form-control control-input-border" disabled/>
                                
                            </div>

                            <div class="col-md-3 control-space">
                                <label class="label">Staff Number:</label>
                            </div>
                            <div class="col-md-9 control-space">
                                <input type="text" name="staffNo" class="form-control control-input-border" @bind = "@personalInformationEntity.StaffNo"/>                                
                            </div>
                            <div class="col-md-3 control-space">
                                <label class="label">Title:</label>
                            </div>
                            <div class="col-md-9 control-space">
                                <select name="title" id="cboTitle" class="form-control control-input-border" @bind="@personalInformationEntity.TitleCode">
                                    <option value="">----Select----</option>
                                    <option value=11>Supervisor</option>
                                    
                                </select>
                            </div>

                            <div class="col-md-3 control-space">
                                <label class="label">Surname:</label>
                            </div>
                            <div class="col-md-9 control-space">
                                <input name="surname" class="form-control control-input-border" id="txtsurname" @bind="@personalInformationEntity.Surname" />
                            </div>
                            <div class="col-md-3 control-space">
                                <label class="label">Middle Name:</label>
                            </div>
                            <div class="col-md-9 control-space">
                                <input name="middlename" @bind="@personalInformationEntity.MiddleName" class="form-control control-input-border" id="txtmiddlename" />
                            </div>
                            <div class="col-md-3 control-space">
                                <label class="label">First Name:</label>
                            </div>
                            <div class="col-md-9 control-space">
                                <input name="firstname" @bind="@personalInformationEntity.FirstName" class="form-control control-input-border" id="txtfirstname" />
                            </div>
                        </div>
                    </fieldset>
                </div>
               
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">Photograph</div>
                        <div class="card-body">
                            
                            <div>
                                <img src="@imagePath" width="300" height="250" class="img-thumbnail" id="empImage" />
                                
                            </div>
                                <form method="post" @onsubmit="UploadImage">
                                    <InputFile type="file"  id="empfile" OnChange="HandleFileChange" />
                                <div class="clearfix"></div>

                                <br />
                                <button type="submit" class="btn btn-outline-info" id="uploadPhoto"><i class="fa fa-upload"> Upload</i></button>
                            </form>
                        </div>
                    </div>

                </div>
                
                <div class="col-md-4">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">   
                    <div style="border:1px solid black; padding:10px;">
                        <Tabs>
                            <TabLinks>
                                <Tab OnTabSelected="(() => SelectTab(0))">Personal Info</Tab>
                                <Tab OnTabSelected="(() => SelectTab(1))">Contact Info</Tab>
                                <Tab OnTabSelected="(() => SelectTab(2))">Next of Kin</Tab>
                                <Tab OnTabSelected="(() => SelectTab(3))">Guarantor & Reference</Tab>
                                <Tab OnTabSelected="(() => SelectTab(4))">Medical History</Tab>
                                <Tab OnTabSelected="(() => SelectTab(5))">Employment Info</Tab>
                                <Tab OnTabSelected="(() => SelectTab(6))">Experience</Tab>
                                <Tab OnTabSelected="(() => SelectTab(7))">Qualification</Tab>
                                <Tab OnTabSelected="(() => SelectTab(8))">Attachment</Tab>
                                <Tab OnTabSelected="(() => SelectTab(9))">Bank Info</Tab>
                            </TabLinks>

                            <TabContents>
                                @if (selectedTabIndex == 0)
                                {
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="text-danger">
                                            @Message
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-3 control-space">
                                                <label class="label">Date of Birth:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                <input type="date" name="dob" @bind="@personalInformationEntity.DateofBirth" class="form-control control-input-border" id="txtdob" />
                                            </div>

                                            <div class="col-md-3 control-space">
                                                <label class="label">Gender:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                <select id="cboGender" @bind="@personalInformationEntity.Gender" class="form-control control-input-border">
                                                    <option value="">----Select----</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Male">Male</option>
                                                </select>
                                            </div>

                                            <div class="col-md-3 control-space">
                                                <label class="label">Marital Status:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                <select id="cboMarital" @bind="@personalInformationEntity.MaritalStatus" class="form-control control-input-border">
                                                    <option value="">----Select----</option>
                                                    <option value="Single">Single</option>
                                                    <option value="Married">Married</option>
                                                    <option value="Divorce">Divorce</option>
                                                </select>
                                            </div>

                                            <div class="col-md-3 control-space">
                                                <label class="label">Country:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                    <select id="cboNation" @bind="@personalInformationEntity.Nationality" class="form-control control-input-border">
                                                        <option value="">----Select----</option>
                                                        <option value="Nigeria">Nigeria</option>
                                                        <option value="Ghana">Ghana</option>
                                                    </select>
                                                
                                            </div>

                                            <div class="col-md-3 control-space">
                                                <label class="label">State:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                    <select id="cboState" @bind="@personalInformationEntity.State" class="form-control control-input-border">
                                                        <option value="">----Select----</option>
                                                        <option value="Lagos">Lagos</option>
                                                        <option value="Benin">Benin</option>
                                                    </select>
                                                    <input type="text" name="state" class="form-control control-input-border hide-txt" placeholder="Type the State" , id="txtstate" />
                                                         
                                            </div>



                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-3 control-space">
                                                <label class="label">Religion:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                    <select id="cboReligion" @bind="@personalInformationEntity.Religion" class="form-control control-input-border">
                                                        <option value="">----Select----</option>
                                                        <option value="Christianity">Christianity</option>
                                                        <option value="Muslim">Muslim</option>
                                                        <option value="Traditional">Traditional</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                
                                            </div>

                                            <div class="col-md-3 control-space">
                                                <label class="label">Spouse Name:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                    <input type="text" name="spouseName" @bind="@personalInformationEntity.SpouseName"class="form-control control-input-border" id = "txtspouseName"/>
                                               
                                            </div>

                                            <div class="col-md-3 control-space">
                                                <label class="label">Disability:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                    <select id="cboDisability" @bind="@personalInformationEntity.Disability" class="form-control control-input-border">
                                                        <option value="---Select---">---Select---</option>
                                                        <option value="No">No</option>
                                                        <option value="Yes">Yes</option>                                                        
                                                    </select>
                                               
                                            </div>

                                            <div class="col-md-3 control-space">
                                                <label class="label">Disability Description:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                    <textarea name="disabilityDesc" @bind="@personalInformationEntity.DisabilityDescription" class="form-control control-input-border" id="txtdisabilityDesc"></textarea>
                                               
                                            </div>
                                            <div class="col-md-3 control-space">
                                            </div>
                                            <div class="col-md-9 control-space">
                                                <button class="btn btn-primary" @onclick="()=> SaveEmployee()" type="submit" id="SavePersonal"><i class="fa fa-save"></i> Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                }
                                else if (selectedTabIndex == 1)
                                {
                                 <EditForm Model="empContactInfoEntity" OnSubmit="SubmitContactInfo">   
                                    <div class="row">
                                        
                                               
                                        <div class="col-md-6">
                                            <div class="text-danger">
                                                @ContactMessage
                                            </div>
                                            <div class="row">
                                                @*<input type="hidden" @bind="empContactInfoEntity.ID"/>*@
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Address:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <textarea name="address" @bind="@empContactInfoEntity.Address" class="form-control control-input-border" id="txtaddress" rows=6></textarea>                                                    
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">City:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="@empContactInfoEntity.City" class="form-control control-input-border" id="txtcity" />
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Country:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <select name="country" @bind="@empContactInfoEntity.Country" class="form-control control-input-border"  id="cbocountry">
                                                        <option>----Select----</option>
                                                        <option value="Nigeria">Nigeria</option>
                                                        <option value="Ghana">Ghana</option>
                                                    </select>                                                   
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">State:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <select name="state" @bind="@empContactInfoEntity.State" class="form-control control-input-border" id="cboStateAdd">
                                                        <option>----Select----</option>
                                                        <option value="Lagos">Lagos</option>
                                                        <option value="Benin">Benin</option>
                                                    </select>
                                                    
                                                   </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">L.G.A:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="@empContactInfoEntity.LGA" class = "form-control control-input-border" id = "txtlga"/>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Landmark:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text"@bind="@empContactInfoEntity.Landmark" class = "form-control control-input-border"id = "txtlandmark" placeholder = "Enter Nearest Bus Stop"/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Mobile No:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text"@bind="@empContactInfoEntity.MobileNo" class = "form-control control-input-border" id = "txtMobileNo"/>
                                                    
                                                </div>

                                                <div class="col-md-3 control-space">
                                                    <label class="label">Mobile No 2:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="@empContactInfoEntity.MobileNo2" class = "form-control control-input-border" id = "txtMobileNo2"/>
                                                    
                                                </div>

                                                <div class="col-md-3 control-space">
                                                    <label class="label">Work Phone:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text"  @bind="@empContactInfoEntity.WorkPhoneNo" class = "form-control control-input-border" id = "txtWorkPhone"/>
                                                </div>

                                                <div class="col-md-3 control-space">
                                                    <label class="label">E-mail:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="@empContactInfoEntity.Email" class = "form-control control-input-border" id = "txtemail"/>
                                                    
                                                </div>

                                                <div class="col-md-3 control-space">
                                                    <label class="label">E-mail (work):</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="@empContactInfoEntity.WorkEmail" class = "form-control control-input-border" id = "txtemailwork"/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space">
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <button class="btn btn-primary" type="submit" id="SaveCont"><i class="fa fa-save"></i> Save</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                     </div>
                                </EditForm>
                                }
                                else if (selectedTabIndex == 2)
                                {

                                    <EditForm Model="@nextofKinEntity" OnSubmit="SubmitNextOfkin">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-danger">
                                                @NextofKinMessage
                                            </div>
                                            <div class="card">
                                                <div class="card-header">Next of Kin</div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Full Name:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <input type="text" @bind="nextofKinEntity.Name"class = "form-control control-input-border" id = "txtnokName"/>                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Phone No:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <input type="text" @bind="nextofKinEntity.Contact" class = "form-control control-input-border" id = "txtnokPhoneNo"/>
                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Relationship:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <input type="text" @bind="nextofKinEntity.Relationship" class = "form-control control-input-border" id = "txtnokRelationship" />
                                                            
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-9">
                                                            <input type="checkbox" value="false" @onchange="Check" class = "checkbox" id = "chkNokAbove"/>
                                                            Same as Contact Address
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Address:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <textarea name="nokaddress" @bind="nextofKinEntity.Address" class = "form-control control-input-border" id = "txtnokaddress" rows=6></textarea>
                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Country:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <select @bind="nextofKinEntity.Country"class="form-control control-input-border"  id="cboNOKcountry">
                                                                <option>----Select----</option>
                                                                <option value="Nigeria">Nigeria</option>
                                                                <option value="Ghana">Ghana</option>
                                                            </select>                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">State:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <select @bind="nextofKinEntity.State" class="form-control control-input-border" id="cboNOKState">
                                                                <option>----Select----</option>
                                                                <option value="Lagos">Lagos</option>
                                                                <option value="Benin">Benin</option>
                                                            </select>
                                                            <input type="text" name="Nstate" class = "form-control control-input-border hide-txt" placeholder = "Type the State" id = "txtnokState"/>
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header"> In case of emergency, Please Specify...</div>
                                                    <div class="card-body">
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">FullName:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <input type="text" @bind="nextofKinEntity.FullName" name="sosName" class = "form-control control-input-border" id = "txtsosName"/>
                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Phone Number:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <input type="text" @bind="nextofKinEntity.PhoneNo" name="sosPhoneNo" class = "form-control control-input-border" id = "txtsosPhoneNo"/>
                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <button class="btn btn-primary" type="submit" id="SaveKin"><i class="fa fa-save"></i> Save </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </EditForm>
                                }
                                else if (selectedTabIndex == 3)
                                {

                                    <div class="row">
                                    <EditForm Model="gurrantorEntity" OnSubmit="SaveGuarantorInfo" class="col-md-6">
                                        <div>
                                            <div class="text-danger">
                                                @GuarantorMessage
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    Guarantor
                                                    <div class="alert-danger">Should be minimum of two (2)</div>
                                                </div>

                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Full Name:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <input type="text" @bind="gurrantorEntity.GFullName"class = "form-control control-input-border clear" id = "txtGName"/>
                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Phone No:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <input type="text" @bind="gurrantorEntity.GPhoneNo" class = "form-control control-input-border clear" id = "txtGPhoneNo"/>
                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Pay Level:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <input type="text" @bind="gurrantorEntity.GPayLevel" class = "form-control control-input-border clear" id = "txtGPayLevel" />
                                                            
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-9">
                                                            <input type="checkbox" @onchange="Check" class = "checkbox clear" id = "chkGAbove"/>
                                                            Same as Contact Address
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Address:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <textarea name="Gaddress" @bind="gurrantorEntity.GAddress"class = "form-control control-input-border clear" id = "txtGaddress" rows=6></textarea>
                                                           
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Country:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <select name="Gcountry" @bind="gurrantorEntity.GCountry"class="form-control control-input-border clear" id="cboGCountry">
                                                                <option>----Select----</option>
                                                                <option value="Nigeria">Nigeria</option>
                                                                <option value="Ghana">Ghana</option>
                                                            </select>
                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">State:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <select name="Gstate" @bind="gurrantorEntity.GState"class="form-control control-input-border clear" id="cboGState">
                                                                <option>----Select----</option>
                                                                <option value="Lagos">Lagos</option>
                                                                <option value="Benin">Benin</option>
                                                            </select>
                                                            <input type="text" class = "form-control control-input-border hide-txt clear" placeholder = "Type the State" id = "txtGState"/>
                                                            
                                                        </div>

                                                        <div class="col-md-3 control-space">
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <button class="btn btn-outline-primary" type="submit" id="AddGua"><i class="fa fa-save"></i> Add </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </EditForm>
                                    <EditForm Model="referenceEntity" OnSubmit="SaveReferenceInfo" class="col-md-6">
                                        <div>
                                            <div class="text-danger">
                                                @ReferenceMessage
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    Reference
                                                    <div class="alert-danger">Should be minimum of two (2)</div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Full Name:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <input type="text" @bind="referenceEntity.RFullName" class="form-control control-input-border clear"  id="txtRName"/>
                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Phone No:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <input type="text" @bind="referenceEntity.RPhoneNo" class = "form-control control-input-border clear" id = "txtRPhoneNo"/>
                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Job Position:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <input type="text" @bind="referenceEntity.RJobPosition" class = "form-control control-input-border clear" id = "txtRJobPosition"/>
                                                            
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-9">
                                                            <input type="checkbox" @onchange="CheckRefAd" class = "checkbox clear" id = "chkRAbove" />
                                                            Same as Contact Address
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Address:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <textarea type="text" @bind="referenceEntity.RAddress" class = "form-control control-input-border clear" id = "txtRaddress" rows=6></textarea>
                                                          
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">Country:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <select name="Rcountry" @bind="referenceEntity.RCountry"class = "form-control control-input-border clear" id = "cboRCountry">
                                                                <option>----Select----</option>
                                                                <option value="Nigeria">Nigeria</option>
                                                                <option value="Ghana">Ghana</option>
                                                            </select>
                                                            
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label">State:</label>
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <select name="Rstate"@bind="referenceEntity.RState" class="form-control control-input-border clear"  id="cboRState">
                                                                <option>----Select----</option>
                                                                <option value="Lagos">Lagos</option>
                                                                <option value="Benin">Benin</option>
                                                            </select>
                                                            <input type="text" class = "form-control control-input-border hide-txt clear" placeholder = "Type the State" id = "txtRState"/>
                                                            
                                                        </div>

                                                        <div class="col-md-3 control-space">
                                                        </div>
                                                        <div class="col-md-9 control-space">
                                                            <button class="btn btn-outline-primary" type="submit" id="AddRef"><i class="fa fa-save"></i> Add </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </EditForm>
                                    </div>
                                }
                                 else if (selectedTabIndex == 4)
                                {
                                    <EditForm Model="medicalEntity" OnSubmit="SaveMedicalHis">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="text-danger">
                                                @MedicalHisMessage
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Blood Group:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="medicalEntity.BGroup" class = "form-control control-input-border" id = "txtbgroup"/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Genotype:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="medicalEntity.Genotype" class = "form-control control-input-border" id = "txtgenot"/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Weight:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="medicalEntity.Weight"class = "form-control control-input-border" id = "txtweight" placeholder = "Specify in Kilogram (Kg)"/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Height:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="medicalEntity.Height"class = "form-control control-input-border" id = "txtheight" placeholder = "Specify in Inches (in)"/>
                                                    
                                                </div>
                                                <div class="col-md-4 control-space">
                                                    <label class="label" id="smokeInd">Do you Smoke?:</label>
                                                </div>
                                                <div class="col-md-3 mt-3">
                                                    <input type="checkbox" name="smoke" @onchange="CheckYes" class="checkbox" id="chksmokeyes" />
                                                     Yes
                                                </div>
                                                <div class="col-md-3 mt-3">
                                                    <input type="checkbox" name="smoke" @onchange="CheckNo" class = "checkbox" id = "chksmokeno"/>
                                                     No
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label" id="drinkInd">Do you Drink?:</label>
                                                </div>
                                                <div class="col-md-4 mt-2">
                                                    <input type="checkbox" name="drink" @onchange="CheckSocialDrinker"class = "checkbox" id = "chksocial"/>
                                                    Social Drinker
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <input type="checkbox" name="drink" @onchange="CheckModDrinker" class="checkbox" id="chkmoderate" />
                                                    Moderately
                                                </div>
                                                <div class="col-md-3"></div>
                                                <div class="col-md-4">
                                                    <input type="checkbox" @onchange="CheckHeavyDrinker" class = "checkbox" id = "chkheavy"/>
                                                    Heavy Drinker
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="checkbox" @onchange="CheckNoDrinker" class = "checkbox" id = "chknodrink"/>
                                                    No
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Allergies:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="medicalEntity.Allergies" class = "form-control control-input-border" id = "txtallergies" placeholder = "Please indicate if any"/>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-10 control-space"><label class="label">Please Check according to previous/current medical history</label></div>
                                                <div class="col-md-3"></div>
                                                <div class="col-md-2">
                                                    <input type="checkbox" @onchange="CheckHBP" class = "checkbox" id = "chkHBP"/>
                                                     HBP
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="checkbox" @onchange="CheckAsmathic" class = "checkbox" id = "chkAsmathic"/>
                                                     Asmathic
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="checkbox" @onchange="CheckDiabetic" class = "checkbox" id = "chkDiabetic" />
                                                     Diabetic
                                                </div>
                                                <div class="col-md-3"></div>
                                                <div class="col-md-2">
                                                    <input type="checkbox" @onchange="CheckCancer" class = "checkbox" id = "chkCancer"/>
                                                    Cancer
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="checkbox" @onchange="CheckTerminal" class = "checkbox" id = "chkTerminal"/>
                                                    Terminal Disease
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="checkbox" @onchange="CheckOthers" class = "checkbox" id = "chkOther" />
                                                    Others
                                               </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Comments:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <textarea name="medComm" @bind="medicalEntity.Comments"class = "form-control control-input-border" id = "txtmedComm" rows=6></textarea>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space">
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <button class="btn btn-primary" type="submit" id="SaveMed"><i class="fa fa-save"></i> Save </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </EditForm>
                                }
                                else if (selectedTabIndex == 5)
                                {
                                    <EditForm Model="empEmploymentEntity" OnSubmit="SaveEmploymentInfo">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="text-danger">
                                                @EmploymentInfoMessage
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Branch:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <select name="branch" @bind="empEmploymentEntity.Branch"class = "form-control control-input-border" id = "cboBranch">
                                                        <option>----Select----</option>
                                                        <option value="Ikeja">Ikeja</option>
                                                        <option value="VI">VI</option>
                                                    </select>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Date Joined:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="empEmploymentEntity.DateJoined" class = "form-control control-input-border" id = "txtdateJoined" placeholder = "DD/MM/YYYY"/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Grade/Level:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <select name="level" @bind="empEmploymentEntity.EmpLevel"class = "form-control control-input-border" contextmenuid = "cboLevel">
                                                        <option>----Select----</option>
                                                        <option value="1">I</option>
                                                        <option value="2">II</option>
                                                    </select>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Date Started:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <input type="text" @bind="empEmploymentEntity.DateStarted"class = "form-control control-input-border" id = "txtdateStarted" placeholder = "DD/MM/YYYY"/>
                                                    
                                                </div>
                                                <div class="col-md-3 control-space">
                                                    <label class="label">Designation:</label>
                                                </div>
                                                <div class="col-md-9 control-space">
                                                    <select @bind="empEmploymentEntity.Designation"class="form-control control-input-border"  id="cbodesignation">
                                                        <option>----Select----</option>
                                                        <option value="Manager">Manager</option>
                                                        <option value="Supervisor">Supervisor</option>
                                                    </select>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-4 control-space">
                                                    <label class="label">Employement Type:</label>
                                                </div>
                                                <div class="col-md-8 control-space">
                                                    <select class = "form-control control-input-border" @bind="empEmploymentEntity.EmploymentType"id = "cboempType">
                                                        <option>----Select----</option>
                                                        <option value="FullTime">FullTime</option>
                                                        <option value="PartTime">PartTime</option>
                                                    </select>
                                                     
                                                </div>
                                                <div class="col-md-4 control-space">
                                                    <label class="label">Department:</label>
                                                </div>
                                                <div class="col-md-8 control-space">
                                                    <select name="dept" @bind="empEmploymentEntity.Department"class = "form-control control-input-border" id = "cbodept">
                                                        <option>----Select----</option>
                                                        <option value="Software">Software</option>
                                                        <option value="HR">HR</option>
                                                    </select>
                                                   
                                                </div>
                                                <div class="col-md-4 control-space">
                                                    <label class="label">Job Description:</label>
                                                </div>
                                                <div class="col-md-8 control-space">
                                                    <textarea name="jobDescription" @bind="empEmploymentEntity.JobDescription" class = "form-control control-input-border" id = "txtjobDescription" rows=6></textarea>
                                                    
                                                </div>
                                                <div class="col-md-4 control-space">
                                                </div>
                                                <div class="col-md-8 control-space">
                                                    <button class="btn btn-primary" type="submit" id="SaveEmployment"><i class="fa fa-save"></i> Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </EditForm>
                                }
                                else if (selectedTabIndex == 6)
                                {
                                  <EditForm Model="empExperienceEntity" OnSubmit="SaveEmpExperience">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header"><strong>Work Experience Information </strong></div>
                                            <div class="text-danger">
                                                @EmployeeExpMessage
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5 control-space">
                                                            <label class="label">Company Name:</label>
                                                        </div>
                                                        <div class="col-md-7 control-space">
                                                            <input type="text" @bind="empExperienceEntity.CompName"class="form-control clear control-input-border" id="txtcompName" placeholder="Type Company Name here" />

                                                        </div>
                                                        <div class="col-md-5 control-space">
                                                            <label class="label">Job Position:</label>
                                                        </div>
                                                        <div class="col-md-7 control-space">
                                                            <input type="text" @bind="empExperienceEntity.JobPosition"class="form-control clear control-input-border" id="txtjobPosition" placeholder="Type Job Position Name here" />

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-4 control-space">
                                                            <label class="label">Date Joined:</label>
                                                        </div>
                                                        <div class="col-md-8 control-space">
                                                            <input type="date" @bind="empExperienceEntity.DJoined"class="form-control clear control-input-border" id="txtdJoined" placeholder="DD/MM/YYYY" />

                                                        </div>
                                                        <div class="col-md-4 control-space">
                                                            <label class="label">Date Left:</label>
                                                        </div>
                                                        <div class="col-md-8 control-space">
                                                            <input type="date" @bind="empExperienceEntity.DLeft"class="form-control clear control-input-border" id="txtdLeft" placeholder="DD/MM/YYYY" />

                                                        </div>
                                                        <div class="col-md-4 control-space">
                                                        </div>
                                                        <div class="col-md-8 control-space">
                                                            <button class="btn btn-primary" style="margin-bottom:10px;" type="submit" id="addExp"><i class="fa fa-save"></i> Add </button>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-header"><strong>LIST OF EXPERIENCES</strong></div>
                                                        <div class="card-body" id="experienceDataList">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </EditForm>
                                }
                                else if (selectedTabIndex == 7)
                                {
                                <EditForm Model="qualification" OnSubmit="SaveEmpQualification">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header"><strong>Educational and Other Qualifications Information </strong></div>
                                            <div class="text-danger">
                                                @EmployeeQuaMessage
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-12 control-space">
                                                            <label class="label">Institution Attended:</label>
                                                        </div>
                                                        <div class="col-md-12 control-space">
                                                            <input type="text" @bind="qualification.Institution" class = "form-control clear control-input-border clear" id = "txtinstiAtt" placeholder = "Type Institution here..."/>
                                                            
                                                        </div>
                                                        <div class="col-md-12 control-space">
                                                            <label class="label">Degree Obtained:</label>
                                                        </div>
                                                        <div class="col-md-12 control-space" style="margin-bottom:10px;">
                                                            <div class="col-md-12 control-space" style="margin-bottom:10px;">
                                                                <select name="edudegree" @bind="qualification.EducationQua"class = "form-control control-input-border clear" id = "txtedudegree">
                                                                    <option value="Masters Degree">Masters Degree</option>
                                                                    <option value="Bachelor Degreee">Bachelor Degreee</option>
                                                                    <option value="SSCE">SSCE</option>
                                                                    <option value="Others">Others</option>
                                                                </select>
                                                               
                                                            </div>
                                                            <div class="col-md-12 control-space">
                                                                <input type="text" class="form-control clear control-input-border clear" id = "txtOthQuali" placeholder = "Please Specify---"/>
                                                                
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-4 control-space">
                                                            <label class="label">Year:</label>
                                                        </div>
                                                        <div class="col-md-8 control-space">
                                                            <select name="year" @bind="qualification.Year"class="form-control clear control-input-border"  id="txtyear">
                                                                <option value="year">--Year--</option>
                                                                <option value="2024">2024</option>
                                                            </select>
                                                           
                                                        </div>
                                                        <div class="col-md-4 control-space">
                                                        </div>
                                                        <div class="col-md-8 control-space">
                                                            <button class="btn btn-primary" type="submit" id="addQualifi"><i class="fa fa-save"></i> Add</button>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-header"><strong>LIST OF QUALIFICATIONS</strong></div>
                                                        <div class="card-body" id="quaDataList">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </EditForm>
                                }
                                else if (selectedTabIndex == 8)
                                {
                                    <div class="col-md-12">
                                        <input type="hidden"  id = "empAtt" />
                                        <div class="card">
                                            <div class="card-header">Upload Documents, Qualifications and Other relevant files</div>
                                            <div class="card-body">
                                                <form method="post">                                                <div class="col-sm-6" id="FileBrowse">
                                                <InputFile type="file" OnChange="HandleFileChangeUpload" id="empfileAtt" /><br />
                                                    <div id="progressbar-5" class="mt-3">
                                                        <div class="        ">
                                                        </div>
                                                    </div><br />
                                                    <button class="btn btn-outline-info" onclick="()=>UploadFileAsync()" id="uploadAttachment" type="submit"><i class="fa fa-upload"> Upload File</i></button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (selectedTabIndex == 9)
                                {
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-3 control-space">
                                                <label class="label">Bank:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                <select name="bank" class="form-control control-input-border"  id="cboBank">
                                                    <option>----Select----</option>
                                                </select>
                                                
                                            </div>
                                            <div class="col-md-3 control-space">
                                                <label class="label">Account No:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                <input type="text" class="form-control control-input-border"  id="txtaccountNumber"/>
                                                
                                            </div>
                                            <div class="col-md-3 control-space">
                                                <label class="label">Pension:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                <select name="Pension" class="form-control control-input-border" id="cboPension">
                                                    <option>----Select----</option>
                                                </select>
                                                
                                            </div>
                                            <div class="col-md-3 control-space">
                                                <label class="label">Pension Number:</label>
                                            </div>
                                            <div class="col-md-9 control-space">
                                                <input type="text" class = "form-control control-input-border" id = "txtpensionNumber"/>
                                                
                                            </div>
                                            <div class="col-md-9 control-space" style="margin-left: 0px;">
                                                <button class="btn btn-primary" type="submit" id="SaveBankDetails"><i class="fa fa-save"></i> Save</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </TabContents>
                        </Tabs>
                 
                
                            @*<div class="alert alert-info" id="loading" style="padding:10px; position:absolute;border:2px solid #33bb0b;left:50%;top:50%;">
                                Please wait.. <span>
                                    <img src="~/Images/ajax-loader7.gif" />
                                </span>
                            </div>         *@              
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        @*</EditForm>*@
        
    </div>
</div>
<br />


@code {
    private bool _check = false;
    private int selectedTabIndex = 0;
    private string Message = "";
    private string uploadStatus = string.Empty;
    private IBrowserFile selectedFile;
    private int maxAllowedFiles = int.MaxValue;
    private string imagePath = string.Empty;
    private string regNo = string.Empty;
    private string ContactMessage = string.Empty;
    private string NextofKinMessage = string.Empty;
    private string GuarantorMessage = string.Empty;
    private string ReferenceMessage = string.Empty;
    private string MedicalHisMessage = string.Empty;
    private string EmploymentInfoMessage = string.Empty;
    private string EmployeeExpMessage = string.Empty;
    private string EmployeeQuaMessage = string.Empty;
    private IBrowserFile file;





    PersonalInformationEntity personalInformationEntity = new PersonalInformationEntity();
    RegistrationPara registrationPara = new RegistrationPara();
    EmpContactInfoEntity empContactInfoEntity = new EmpContactInfoEntity();
    NextofKinEntity nextofKinEntity = new NextofKinEntity();
    GurrantorEntity gurrantorEntity = new GurrantorEntity();
    ReferenceEntity referenceEntity = new ReferenceEntity();
    MedicalEntity medicalEntity = new MedicalEntity();
    EmpEmploymentEntity empEmploymentEntity = new EmpEmploymentEntity();
    EmpExperienceEntity empExperienceEntity = new EmpExperienceEntity();
    EmpQualificationEntity qualification = new EmpQualificationEntity();

    //private InputFile fileInput;

    private async Task SaveEmployee()
    {
        personalInformationEntity.StaffStatus = "REGULAR";
        var result = await _employeeService.SaveEmployee(personalInformationEntity);
        if (result.Success)
        {
            Message = result.Message;
        }
    }
    private async Task SubmitContactInfo()
    {
        empContactInfoEntity.RegistrationID = personalInformationEntity.RegistrationID;
        empContactInfoEntity.StaffNo = personalInformationEntity.StaffNo;

        var result = await _employeeService.SaveContact(empContactInfoEntity);
        if (result.Success)
        {
            ContactMessage = result.Message;
        }

    }
    private async Task SubmitNextOfkin()
    {
        if(_check == true)
        {
            nextofKinEntity.Address = empContactInfoEntity.Address;
        }
        nextofKinEntity.RegistrationID = personalInformationEntity.RegistrationID;
        var result = await _employeeService.SaveNextOfKin(nextofKinEntity);
        if (result.Success)
        {
            NextofKinMessage = result.Message;
        }
    }
    private async Task SaveGuarantorInfo()
    {
        if(_check == true)
        {
            gurrantorEntity.GAddress = empContactInfoEntity.Address;
        }
        gurrantorEntity.RegistrationID = personalInformationEntity.RegistrationID;
        var result = await _employeeService.SaveGuarantor(gurrantorEntity);
        if (result.Success)
        {
            GuarantorMessage = result.Message;
        }
    }
    private async Task SaveReferenceInfo()
    {

        referenceEntity.RegistrationID = personalInformationEntity.RegistrationID;
        var result = await _employeeService.SaveReference(referenceEntity);
        if (result.Success)
        {
            ReferenceMessage = result.Message;
        }
    }
    private async Task SaveMedicalHis()
    {

        medicalEntity.RegistrationID = personalInformationEntity.RegistrationID;
        var result = await _employeeService.SaveMedicalHis(medicalEntity);
        if (result.Success)
        {
            MedicalHisMessage = result.Message;
        }
    }
    private async Task SaveEmploymentInfo()
    {

        empEmploymentEntity.RegistrationID = personalInformationEntity.RegistrationID;
        empEmploymentEntity.StaffNo = personalInformationEntity.StaffNo;
        var result = await _employeeService.SaveEmp(empEmploymentEntity);
        if (result.Success)
        {
            EmploymentInfoMessage = result.Message;
        }
    }
    private async Task SaveEmpExperience()
    {
        empExperienceEntity.RegistrationID = personalInformationEntity.RegistrationID;

        var result = await _employeeService.SaveEmpExp(empExperienceEntity);
        if (result.Success)
        {
            EmployeeExpMessage = result.Message;
        }
    }
    private async Task SaveEmpQualification()
    {
        qualification.RegistrationID = personalInformationEntity.RegistrationID;

        var result = await _employeeService.SaveEmpQua(qualification);
        if (result.Success)
        {
            EmployeeQuaMessage = result.Message;
        }
    }

    private async Task GetStaffRegNo()
    {
        var result = await _employeeService.GetRegistrationNo();

        personalInformationEntity.RegistrationID = result.RegistrationID;
        personalInformationEntity.StaffNo = result.StaffNo;

    }
    private async Task HandleFileChange(InputFileChangeEventArgs e)
    {        
        selectedFile = e.File;

    }
    private async Task HandleFileChangeUpload(InputFileChangeEventArgs e)
    {
        file = e.File;
        if (file != null)
        {            
            await UploadFileAsync(file);
        }
    }
    private async Task UploadFileAsync(IBrowserFile file)
    {
        try
        {
            var ms = new MemoryStream();

            string folderPath = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "uploads");
            string fileName = $"{Guid.NewGuid()}_{file.Name}";

            // Combine folder path and file name to get the full file path
            string filePath = Path.Combine(folderPath, fileName);

            // Create the folder if it doesn't exist
            Directory.CreateDirectory(folderPath);
            using (FileStream fs = new FileStream(filePath, FileMode.Create))
            {
                ms.Seek(0, SeekOrigin.Begin);
                await ms.CopyToAsync(fs);             
            }
            Console.WriteLine($"File uploaded to: {filePath}");
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Error uploading file: {ex.Message}");
        }

    }
    //[JSInvokable]
    //public async Task HandleResizedImage(string resizedImageData)
    //{
    //    personalInformationEntity.ImageUrl = resizedImageData;
    //}



    private async Task UploadImage()
    {
        if (selectedFile != null)
        {
            //var _ext = Path.GetExtension(selectedFile.Name);
            var format = "image/jpeg";
            var resizedImage = await selectedFile.RequestImageFileAsync(format, 200, 180);
            // Blazor component code
            using var content = new MultipartFormDataContent();
            using var filecontent = new StreamContent(selectedFile.OpenReadStream());
            filecontent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(resizedImage.ContentType);

            content.Add(filecontent, "selectedFiles", resizedImage.Name);

            var result = await _httpClient.PostAsync("api/Employee/UploadEmployeePhoto", content);
            var url = await result.Content.ReadFromJsonAsync<List<ServiceResponse<string>>>();
            if (url != null)
            {
                foreach(var m  in url)
                {                    
                    imagePath = m.Data;
                }
            }
        }
        else
        {
            uploadStatus = "No file selected.";
        }
    }

    public void SelectTab(int index)
    {
        selectedTabIndex = index;
    }


    private void Check(ChangeEventArgs e)
    {
        _check = (bool)e.Value;        
    }
    private void CheckRefAd(ChangeEventArgs e)
    {
        if((bool)e.Value == true){

            referenceEntity.RAddress = empContactInfoEntity.Address;
        }
    }
    private void CheckYes(ChangeEventArgs e)
    {
        if((bool)e.Value == true)
        {
            medicalEntity.Smoke = "Yes";
        }

    }
    private void CheckNo(ChangeEventArgs e)
    {
        if((bool)e.Value == true){
            medicalEntity.Smoke = "No";
        }

    }
    private void CheckSocialDrinker(ChangeEventArgs e)
    {
        if ((bool)e.Value == true)
        {
            medicalEntity.Drink = "Social Drinker";
        }
    }

    private void CheckModDrinker(ChangeEventArgs e)
    {
        if ((bool)e.Value == true)
        {
            medicalEntity.Drink = "Moderate";
        }
    }

    private void CheckHeavyDrinker(ChangeEventArgs e)
    {
        if ((bool)e.Value == true)
        {
            medicalEntity.Drink = "Heavy";
        }
    }
    private void CheckNoDrinker(ChangeEventArgs e)
    {
        if ((bool)e.Value == true)
        {
            medicalEntity.Drink = "No";
        }
    }
    private void CheckHBP(ChangeEventArgs e)
    {
        if ((bool)e.Value == true)
        {
            medicalEntity.MedHistory = "HBP";
        }
    }
    private void CheckAsmathic(ChangeEventArgs e)
    {
        if ((bool)e.Value == true)
        {
            medicalEntity.MedHistory = "Asmathic";
        }
    }
    private void CheckDiabetic(ChangeEventArgs e)
    {
        if ((bool)e.Value == true)
        {
            medicalEntity.MedHistory = "Diabetic";
        }
    }
    private void CheckCancer(ChangeEventArgs e)
    {
        if ((bool)e.Value == true)
        {
            medicalEntity.MedHistory = "Cancer";
        }
    }
    private void CheckTerminal(ChangeEventArgs e)
    {
        if ((bool)e.Value == true)
        {
            medicalEntity.MedHistory = "Terminal";
        }
    }
    private void CheckOthers(ChangeEventArgs e)
    {
        if ((bool)e.Value == true)
        {
            medicalEntity.MedHistory = "Others";
        }
    }



}
