@page "/setupaddnewbranch/"
@using PayrollAndHr.Shared.Models;
@layout PayrollAndHr.Client.Shared.Layouts.SetUpLayout
@inject HttpClient _httpClient

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header"><strong>BRANCH INFORMATION</strong></div>
            <div class="card-body">
                <div>
                    <button class="btn btn-primary" id="NewBranch"><i class="fa fa-file-o"></i> New</button>
                    <button class="btn btn-primary" type="submit" id="SaveBranch"><i class="fa fa-save"></i> Save</button>
                </div>
                <form>
                
                    <br />
                    <div class="alert alert-success" id="successSave">
                    </div>
                    <fieldset class="form-group">

                        <label>Code:</label>
                        <input type="text" name="code" class = "form-control control-input-border" id = "code" disabled/>                        
                    </fieldset>
                    <fieldset class="form-group">

                        <label class="label-success">Branch Name:</label>
                        <input type="text" name="branchName" class = "form-control control-input-border" id = "branchName" placeholder = "Type Branch Name here"/>
                       
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Address:</label>
                        <textarea  name="address" class = "form-control control-input-border" id = "address" placeholder = "Type Branch Address here" rows = 10></textarea>                        
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Phone No:</label>
                        <input type="text" name="PhoneNo" class = "form-control control-input-border" id = "PhoneNo" placeholder = "Type Branch Phone Number here"/>
                        

                    </fieldset>
                    <fieldset class="form-group">
                        <label>E-mail Address:</label>
                        <input type="text" name="Email" class = "form-control control-input-border" id = "Email" placeholder = "Type Branch E-mail Address here"/>
                        
                    </fieldset>
                    @*<div class="alert alert-info" id="loading" style="padding:10px; position:absolute;border:2px solid #33bb0b;left:50%;top:50%;">
                        Please wait.. <span>
                            <img src="~/Images/ajax-loader7.gif" />
                        </span>
                    </div>*@
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header"><strong>LIST OF BRANCHES</strong></div>
            <table class="table table-hover table-bordered" id="BranchListTable" style="border:1px solid #000000;">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>BRANCH NAME</th>
                        <th>CODE</th>
                        <th>PHONE NO</th>
                        <th>E-MAIL</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in branchlist)
                    {
                        sn++;
                        <tr>
                            <td>@sn.ToString()</td>
                            <td>@m.BranchName</td>
                            <td>@m.BranchCode.ToString()</td>
                            <td>@m.PhoneNo</td>
                            <td>@m.Email</td>
                            <td>
                                <a href="#" onclick="EditBranchInfo(@m.BranchCode)" title="Edit @m.BranchName"><i class="fa fa-pencil"></i></a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="#" onclick="DeleteBranchInfo(@m.BranchCode)" title="Delete @m.BranchName"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    int sn = 0;
    private static List<BranchEntity>? branchlist = new List<BranchEntity>();

    protected override async Task OnInitializedAsync()
    {
        branchlist = await _httpClient.GetFromJsonAsync<List<BranchEntity>>("api/SetUp/LoadBranchInfo");
    }

}
